<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/tweets"><h1>Iron Tweeter</h1></a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/users/login">Login</a>
        <a class="nav-link" href="/users/login">Register</a>
      </li>
  </div>
</nav>
