<!DOCTYPE html>
<html lang="en">
<head>

    <title>Principal</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body class="background-home">
    <input type="button" value="New" onclick="window.location.href='/views/tweets/create'" class="new-button">    
    <h1>esto es el home</h1>

</body>
</html>