<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Layout layer</title>

</head>
<body class="background">
    <div></div>
    <img src="../images/twiteer_logo.png" class="img-layout" onclick="window.location.href='/'"/>
    <input type="button" value="Login" onclick="window.location.href='/login'" class="main-button">    
    <input type="button" value="Register" onclick="window.location.href='/registration-form'" class="main-button">    
        {{{body}}}
    


</body>
</html>