<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Document</title>
</head>
<body>
  <form action="/login" method="POST" class="form-login">
  <div>
    <label for="name">Name</label>
    <input type="text" value="Insert name" name="name" id="name" class="type-form">
  </div>

  <div>
    <label for="email" >Email</label>
    <input type="email" value="Insert e-mail" name="email" class="xx" id="email" class="type-form">
  </div>

  <div>
    <label for="password" >Password</label>
    <input type="password" value="" name="password" id="password" class="type-form">
  </div>

  
  <button type="submit">Login</button>
</form>
</body>
</html>