<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="font-src 'self' data:">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Document</title>
</head>
<body>
  <div class="registration-form">           
        <form action="/users" method="POST">
        
          <div>
            <input type="text" value="" name="name" placeholder="User name..." class="type-form">            
          </div>
        
          <div>
            <input type="email" value="" name="email" placeholder="user@example.org" class="type-form">            
          </div>
        
          <div>
            <input type="password" value="" name="password" placeholder="****" class="type-form">            
          </div>
        
          <div>
            <button type="submit">Create</button>
          </div>
        </form>    
  </div>
</body>
</html>