<h3>Start Tweet:</h3>

<form action="/tweets/create" method="POST">
    <div>
        <label for="message">Tweet</label>
        <textarea name="message" id="message" rows="4" required></textarea>
    </div>
    <br>
    <div>
        <button type="submit">Enviar Tweet</button>
    </div>
</form>