<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Create new tweet</title>
</head>
<body>
    <h1>Create a New Tweet</h1>
    <form action="/tweets/new" method="post">
        <textarea name="message" rows="4" cols="50" placeholder="Enter your tweet"></textarea>
        <button type="submit">Create Tweet</button>
    </form>
</body>
</html>