<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary" href="/tweets/new">New Tweet</a>
    <a class="btn btn-secondary" href="/tweets">Home</a>
</div>

  <table>
      <tbody>
        {{#each tweets as |tweet|}}
        <tr>
          <td> {{tweet}} </td>
          <td>{{user.name}}</td>      
        </tr>
        {{/each}}
      </tbody>
  </table>