<div>
  <h2 class="pb-4 fw-bolder">Tweets</h2>
  {{#if currentUser}}
      <div class="mb-3 d-flex border-bottom pb-3">
        <a class="btn btn-primary" href="/tweets/new">New Tweet</a>
      </div>
    {{/if}}
</div>
<div>
  {{#unless currentUser}}
      <div class="mb-3 d-flex border-bottom pb-3">
        <a class="btn btn-primary" href="/login">Log in</a>
      </div>
    {{/unless}}
</div>
<div class='row row-cols-1 row-cols-md-4 g-2'>
  {{#each tweets as |tweet|}}
    <div class='col'>
      <div class='card border border-0'>
        {{> tweet tweet=tweet}}
      </div>
    </div>
  {{/each}}
</div>