<h2 class="mb-5">Nuevo tweet</h2>

<form method="POST" action="/tweets">
  <div class="mb-3">
    <label class="form-label"></label>
    <input name="message" type="text" class="form-control" placeholder="¿Qué estás pensando?"/>
  </div>

  <button type="submit" class="btn btn-success">Enviar</button>
</form>