<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Name</label>
    <input type="text" class="form-control" value="Mark" required>
 </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text">@</span>
      <input type="text" class="form-control" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">Password</label>
    <input type="text" class="form-control" id="validationCustom03" required>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Avatar</label>
    <select class="form-control">
  </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
      </label>
  
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Create user</button>
  </div>
</form>