<h2 class="mb-5">Log in</h2>

<form method="POST" action="/login">
  <div class="mb-3">
    <label class="form-label">User Name</label>
    <input name="userName" type="text" class="form-control" placeholder="User Name"/>
  </div>

  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <input name="password" type="password" class="form-control" placeholder="Contraseña"/>
  </div>

  <button type="submit" class="btn btn-success">Log in</button>

</form> 