<h2 class="mb-5">Nuevo twitero</h2>

<form method="POST" action="/users">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input name="name" type="text" class="form-control" placeholder="Nombre:)"/>
  </div>

  <div class="mb-3">
    <label class="form-label">User Name</label>
    <input name="userName" type="text" class="form-control" placeholder="Nombre de usuario"/>
  </div>

  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <input name="password" type="password" class="form-control" placeholder="Contraseña"/>
  </div>

  <div class="mb-3">
    <label class="form-label">Foto de perfil</label>
    <input name="avatar" type="text" class="form-control" placeholder="url imagen"/>
  </div>

  <button type="submit" class="btn btn-success">Crear</button>
</form>