<div>
    <img src="{{user.avatarUrl}}" alt="Error al cargar la imagen">
</div>

<div class="mb-3">
<label class="fw-bold">Name</label>
<div>{{user.name}} </div>    
</div>

<div class="mb-3">
<label class="fw-bold">User Name</label>
<div>{{user.userName}} </div>    
</div>